@model MyWeb.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* MUST ADD THIS so controller can find CategoryID in Categories *@
            <input type="hidden" asp-for="CategoryID" />
            <div class="form-group">
                <label asp-for="CaterogyName" class="control-label"></label>
                <input asp-for="CaterogyName" class="form-control" />
                <span asp-validation-for="CaterogyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-3 mb-3">Save</button>
                <a class="btn btn-primary mt-3 mb-3" asp-action="Index">Back to List</a>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
